kt_identity_endpoint="YOUR_KTCLOUDVPC_IDENTITY_ENDPOINT"
kt_username="YOUR_KTCLOUDVPC_USERNAME"
kt_password="YOUR_KTCLOUDVPC_PASSWORD"
kt_domain_name="YOUR_KTCLOUDVPC_DOMAIN_NAME"
kt_project_id="YOUR_KTCLOUDVPC_PROJECT_ID"
