kt_identity_endpoint="YOUR_KT_IDENTITY_ENDPOINT"
kt_username="YOUR_KT_USERNAME"
kt_password="YOUR_KT_PASSWORD"
kt_domain_name="YOUR_KT_DOMAIN_NAME"
kt_project_id="YOUR_KT_PROJECT_ID"

# for S3, cf) https://github.com/cloud-barista/cb-spider/wiki/Object-Storage-and-S3-API-Guide
kt_access_key="YOUR_KT_ACCESS_KEY"
kt_secret_key="YOUR_KT_SECRET_KEY"