nhncloud_identity_endpoint="YOUR_NHN_CLOUD_IDENTITY_ENDPOINT"
nhncloud_username="YOUR_NHN_CLOUD_USERNAME"
nhncloud_password="YOUR_NHN_CLOUD_PASSWORD"
nhncloud_domain_name="YOUR_NHN_CLOUD_DOMAIN_NAME"
nhncloud_tenant_id="YOUR_NHN_CLOUD_TENANT_ID"
