openstack_identity_endpoint="YOUR_OPENSTACK_IDENTITY_ENDPOINT"
openstack_username="YOUR_OPENSTACK_USERNAME"
openstack_password="YOUR_OPENSTACK_PASSWORD"
openstack_domain_name="YOUR_OPENSTACK_DOMAIN_NAME"
openstack_project_id="YOUR_OPENSTACK_PROJECT_ID"