# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
*.gz
*.pem

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

*.swp
*.pid
*_bak
*_old
*-old
*.cnf
*.crt
*.key

.DS_Store

*.log
cloud-driver-libs/.ssh-gcp/*
cloud-driver-libs/.ssh-aws/*
cloud-driver-libs/.ssh-aliyun/*
cloud-driver-libs/.ssh-tencent/*
cloud-driver-libs/.ssh-ncp/*
cloud-driver-libs/.ssh-nhn/*
cloud-driver-libs/.ssh-ktclassic/*
cloud-driver-libs/.vpc-nhn/*
cloud-driver-libs/.vpc-kt/*
cloud-driver-libs/.securitygroup-kt/*

vendor/*
cloud-driver-libs/*.so
meta_db/*
cache/*
api-runtime/rest-runtime/~/go/src/github.com/cloud-barista/cb-spider/meta_db/dat/*
conf/store_conf.yaml
cloud-control-manager/cloud-driver/drivers/aws/main/log/cblogs.log
api-runtime/rest-runtime/log/cblogs.log
/.idea/
conf/config.yaml

bin/cb-spider
bin/cb-spider-dyna
bin/cb-spider-android-arm64

cli/spctl

.history/
.vscode/

utils/clone-mc-meta-info/vm-image/data/*
utils/clone-mc-meta-info/vm-image/test/*
utils/clone-mc-meta-info/vm-image/az-data/*

cloud-control-manager/cloud-driver/drivers/azure/main/conf/config.yaml
cloud-control-manager/cloud-driver/drivers/ibm/main/conf/config.yaml
cloud-control-manager/cloud-driver/drivers/ibmcloud-vpc/main/conf/config.yaml
cloud-control-manager/cloud-driver/drivers/openstack/main/conf/config.yaml
cloud-control-manager/cloud-driver/drivers/tencent/main/conf/testConfigTencent.yaml
cloud-control-manager/cloud-driver/drivers/ncp/main/config/config.yaml
cloud-control-manager/cloud-driver/drivers/nhncloud/main/conf/config.yaml
cloud-control-manager/cloud-driver/drivers/ktclassic/main/config/config.yaml

test/vm-cb-user-validation-cli/2.6-csp-test/connection/.*-credential
utils/default-connection-helper/.*-credential
