# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

*.swp

.DS_Store

*.log
cloud-driver-libs/.ssh-gcp/*
cloud-driver-libs/.ssh-aws/*
cloud-driver-libs/.ssh-aliyun/*
cloud-driver-libs/.ssh-tencent/*

vendor/*
cloud-driver-libs/*.so
meta_db/dat/*
api-runtime/rest-runtime/~/go/src/github.com/cloud-barista/cb-spider/meta_db/dat/*
conf/store_conf.yaml
cloud-control-manager/cloud-driver/drivers/aws/main/log/cblogs.log
api-runtime/rest-runtime/$CBSTORE_ROOT/meta_db/dat/0.dat
api-runtime/rest-runtime/log/cblogs.log
/.idea/
conf/config.yaml

interface/cbadm
interface/spctl

.history/

cloud-control-manager/cloud-driver/drivers/ncp/*
cloud-control-manager/cloud-driver/drivers/ncp-plugin/*

conf/testConfig*.yaml
conf/testConfigTencent.yaml
