# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
*.gz
*.pem

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

*.swp

.DS_Store

*.log
cloud-driver-libs/.ssh-gcp/*
cloud-driver-libs/.ssh-aws/*
cloud-driver-libs/.ssh-aliyun/*
cloud-driver-libs/.ssh-tencent/*

vendor/*
cloud-driver-libs/*.so
meta_db/dat/*
api-runtime/rest-runtime/~/go/src/github.com/cloud-barista/cb-spider/meta_db/dat/*
conf/store_conf.yaml
cloud-control-manager/cloud-driver/drivers/aws/main/log/cblogs.log
api-runtime/rest-runtime/$CBSTORE_ROOT/meta_db/dat/0.dat
api-runtime/rest-runtime/log/cblogs.log
/.idea/
conf/config.yaml

bin/cb-spider
bin/cb-spider-dyna

interface/cbadm
interface/spctl

.history/

cloud-control-manager/cloud-driver/drivers/ncp/*
cloud-control-manager/cloud-driver/drivers/ncp-plugin/*

cloud-control-manager/cloud-driver/drivers/tencent/main/conf/testConfigTencent.yaml

utils/clone-mc-meta-info/vm-image/data/*
utils/clone-mc-meta-info/vm-image/test/*
utils/clone-mc-meta-info/vm-image/az-data/*

cloud-control-manager/cloud-driver/drivers/azure/main/conf/config.yaml

cloud-control-manager/cloud-driver/drivers/cloudit/main/conf/config.yaml
cloud-control-manager/cloud-driver/drivers/ibmcloud-vpc/main/conf/config.yaml
cloud-control-manager/cloud-driver/drivers/openstack/main/conf/config.yaml

