ktcloud:

  # KT Cloud Credential Info
  ktcloud_access_key_id: XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
  ktcloud_secret_key: XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX

  ### Note!!
  ### In the KT Cloud CSP, it is divided into Zone units without Region units, but the Region information is written for convenience.
  ### The Zone ID of the following items requires modification after search using 'ListRegionZone()' for each account of KT Cloud.

  region: KOR-Seoul
  zone: 95e2f517-d64a-4866-8585-5177c256f7c7
  # (참고) Zone name : KOR-Seoul M

  # region: KOR-Seoul
  # zone: d7d0177e-6cda-404a-a46f-a5b356d2874e
  # (참고) Zone name : KOR-Seoul M2

  # region: KOR-Central
  # zone: eceb5d65-6571-4696-875f-5a17949f3317
  # (참고) Zone name : KOR-Central A

  #region: KOR-Central
  #zone: 9845bd17-d438-4bde-816d-1b12f37d5080
  # (참고) Zone name : KOR-Central B

  # Resources
  ###########################################################
  vm_id: ec0c4549-1782-4283-91f9-70ffedced7a2
  req_vm_name: m2-vm-3

  disk_id: 28ee704d-d005-4705-86ed-c6001de514ff