ncpvpc:

  # NCP VPC Credential Info
  ncp_access_key_id: XXXXXXXXXXXXXXXXXXXXXXXXXXX
  ncp_secret_key: XXXXXXXXXXXXXXXXXXXXXXXXXXX

  ### (Note) Currently, NCP VPC only supports the Korea, Singapore, and Japan regions.
  region: KR
  zone: KR-1
  # zone: KR-2

  # region: SGN
  # zone: SGN-4
  # zone: SGN-5

  # region: JPN
  # zone: JPN-4
  # zone: JPN-5

  # Note!! : Supporting Regions and Zones
  # region: KR, zone: KR-1 or KR-2
  # region: SGN, zone: SGN-4 or SGN-5
  # region: JPN, zone: JPN-4 or JPN-5
