## Config for KT Cloud VPC connection Driver ##
ktcloudvpc:
  identity_endpoint: https://api.ucloudbiz.olleh.com/d1/identity/v3/
  # $$$ Need to append '/v3/' to identity_endpoint URL 

  username: ~~~@~~~.com
  # KT Cloud Portal User ID

  password: XXXXXXXXXX
  # KT Cloud Portal Password

  domain_name: default

  project_id: XXXXXXXXXX
  # $$$ For 'V3' verson auth., identity_endpoint, username, password and domain_name are required basically.
  # $$$ But, need 'project_id' for the token role
  # You can get the prject id on 'Servers' > 'Token' > 'Token' menu on KT Cloud Portal

  region: KR1
  zone: DX-M1
  
  ###########################################################
  # Resource Info for Testing
  req_vm_name: XXXXXXXXXX
  vm_id: XXXXXXXXXX

  vpc_id: XXXXXXXXXX
  subnet_id: XXXXXXXXXX

  req_disk_name: XXXXXXXXXX
  disk_id: XXXXXXXXXX

  req_nlb_name: XXXXXXXXXX
  nlb_id: XXXXXXXXXX

  req_keypair_name: XXXXXXXXXX
  keypair_name: XXXXXXXXXX

  security_groups: XXXXXXXXXX

  req_vm_name: XXXXXXXXXX
  req_vm_spec: 16x32.itl
  # 4x16.itl
  # 2x8.itl # vCPU: 2, Mem: 8GB

  vm_image_id: XXXXXXXXXX
  vm_spec_id: XXXXXXXXXX
  # Ex) 2x8.itl # vCPU: 2, Mem: 8GB
  # Ex) 4x16.itl
  