# This workflow will build the container image for amd64 arch. (as a basic build test)
name: Build amd64 container image

on:
  # On pull-request event with detailed condition below.
  pull_request:
    branches:
      - master
    paths-ignore:
      - '**.md'
      - '.all-contributorsrc'
      - '.gitignore'
      - 'LICENSE'
      - 'CODEOWNERS'

jobs:
  # The job key is "building"
  building:
    # Job name is "Building"
    name: Building

    # This job runs on Ubuntu-latest (Ubuntu 20.04 LTS checked on 2022-09-06)
    # See https://docs.github.com/en/actions/using-github-hosted-runners/about-github-hosted-runners
    runs-on: ubuntu-latest
    if: ${{ !contains(github.event.head_commit.message, '[skip ci]') }}

    steps:
      - name: Checkout source code
        uses: actions/checkout@v2

      - name: Build image
        env:
          # TODO: Change variable to your repository name and image name.
          IMAGE_NAME: cb-spider
        run: docker build . --file Dockerfile --tag $IMAGE_NAME
